<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的网盘</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">

    <link rel="stylesheet" href="../static/layui/css/self_my.css">

</head>
<body >
<div class="layui-layout">

    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <div class="layui-side layui-gr">

            <ul class="layui-nav layui-nav-tree "  lay-filter="test" >
                <li class="layui-nav-item"><a href="recent" target="mylist">
                    <i class="layui-icon">&#xe60e;</i>
                    <span font-size="20px">最近使用</span>

                </a></li>

                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="all" target="mylist">
                        <i class="layui-icon">&#xe60a;</i>
                        <span>全部文件</span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="image " target="mylist" >图片</a></dd>
                        <dd><a href="vedio" target="mylist" >视频</a></dd>
                        <dd><a href="file" target="mylist" >文档</a></dd>
                        <dd><a href="music" target="mylist" >音乐</a></dd>
                        <dd><a href="other" target="mylist" >其他</a></dd>
                    </dl>
                </li>



                <li class="layui-nav-item"><a href="recycle" target="mylist" >
                    <i class="layui-icon">&#xe640;</i>
                    <span>回收站</span>
                </a></li>

            </ul>
        </div>




    <div class="layui-body" >
        <!-- 内容主体区域 -->
        <iframe class="layadmin-iframe ifrem_voice" src="all" width="100%" height="100%"frameborder="0" name="mylist" scrolling="no">
        </iframe>
    </div>
</div>



<script src="../static/layui/layui.js"></script>

<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>
