<!DOCTYPE html>
<html lang="en">
<!--引入thymeleaf-->

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>回收站</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/layui/css/image.css">
    <link rel="stylesheet" href="../static/layui/css/recycle.css">
    <link rel="stylesheet" href="../static/layui/css/tb1_icon/iconfont.css">
    <script src="../static/layui/layui.js"></script>
    <script src="../static/layui/css/tb1_icon/iconfont.js"></script>
    <script type="text/javascript" src="../static/layui/jquery-2.2.3.min.js"></script>
</head>
<body>

<!--头部工具栏-->

<script type="text/html" id="toolbarDemo">
    <div class="layui-container">
        <div class="layui-row">

                <button class="layui-btn layui-btn-primary  layui-btn-sm"  lay-event="reduction">
                    <i class="layui-icon">&#x1005;</i>
                    <span>还原</span>
                </button>
                <button class="layui-btn layui-btn-primary  layui-btn-sm" lay-event="del">
                    <i class="layui-icon">&#xe640;</i>
                    <span>删除</span>
                </button>
                <button class="layui-btn layui-btn-primary  layui-btn-sm"  lay-event="delAll">
                    <i>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-qingchu"></use>
                        </svg>
                    </i>
                    <span>清空回收站</span>
                </button>

                <button class="layui-btn layui-btn-primary  layui-btn-sm" text="刷新"lay-event="shuaxin">
                    <i class="layui-icon">&#xe9aa;</i>
                </button>
            </div>
    </div>
    </div>
</script>

<!--表格-->
<table class="layui-hide" id="recycle_bin" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="reduction1">还原</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del1">删除</a>
</script>


<script type="text/html" id="type_icon">

    {{# if (d.typeId==0){ }}
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-tubiaozhizuomoban"></use>
    </svg>
    <span>{{d.fileName}}</span>

    {{# }else if (d.typeId==1){ }}
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-tupian"></use>
    </svg>
    <span>{{d.fileName}}</span>


    {{# } else if(d.typeId==3) { }}
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-tubiaozhizuomoban-"></use>
    </svg>
    <span>{{d.fileName}}</span>


    {{# } else if(d.typeId==4) { }}

    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-yinle"></use>
    </svg>
    <span>{{d.fileName}}</span>

    {{# } else if(d.typeId==5) { }}
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-TXT"></use>
    </svg>
    <span>{{d.fileName}}</span>


    {{# } else if(d.typeId==6) { }}
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-pdf"></use>
    </svg>
    <span>{{d.fileName}}</span>


    {{# } else if(d.typeId==7) { }}

    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-word"></use>
    </svg>
    <span>{{d.fileName}}</span>

    {{# } else if(d.typeId==8) { }}
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-ppt"></use>
    </svg>
    <span>{{d.fileName}}</span>

    {{# } else if(d.typeId==10) { }}
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-file_excel"></use>
    </svg>
    <span>{{d.fileName}}</span>

    {{# } else { }}

    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-qitabaobiao"></use>
    </svg>
    <span>{{d.fileName}}</span>

    {{# } }}

</script>


<script type="text/html" id="fsize">

    {{# if (d.fileSize<1024){ }}

    <div>
        <span>{{d.fileSize}}</span>
        KB
    </div>
    {{# }else if (d.fileSize>=1024&&d.fileSize<1024*1024){ }}

    <div>
        <span>{{(d.fileSize/1024).toFixed(2)}}</span>
        MB
    </div>
    {{# } else if(d.fileSize>=1024*1024&&d.fileSize<1024*1024*1024) { }}
    <div>
        <span>{{(d.fileSize/1024/1024).toFixed(2)}}</span>
        GB
    </div>
    {{# } else { }}
    {{# } }}
</script>

<!--记住引入jq!!!!-->

<script  th:inline="none">
    //JavaScript代码区域


    layui.use(['table', 'element','util'], function(){
        var table = layui.table //表格
            ,element = layui.element //元素操作
            ,  util = layui.util;//工具集


        //执行一个 table 实例
        table.render({
            elem: '#recycle_bin'
            ,height: 540
            ,url: 'recycle_list' //数据接口
            ,title: '图片列表'
            ,page: true //开启分页
            ,defaultToolbar: []//toolbar默认的工具
            ,toolbar: '#toolbarDemo' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,cols: [[ //表头
                 {type:'checkbox', fixed: 'left'}
                ,{field:'fileName', width:260, title: '文件名', sort: true,templet:"#type_icon" }
                , {
                    field: 'recentDate', width: 260, title: '删除日期', sort: true,
                    templet: '<div>{{ layui.util.toDateString(d.delDate) }}</div>'
                }
                ,{field:'fileSize', width:260, title: '大小',templet:"#fsize"}
                ,{field:'fileValid', width:200, title: '有效时间'}
                ,{fixed: 'right', width: 200, align:'center', toolbar: '#barDemo'}
            ]]
        });



                //头工具栏事件
                table.on('toolbar(test)', function(obj){
                    var checkStatus = table.checkStatus(obj.config.id)
                        ,data = checkStatus.data; //获取选中的数据;
                  switch(obj.event){
                            case 'reduction':
                                if(data.length==0)
                                {
                                    layer.msg('请选择要还原的行');
                                }
                                else if(data.length>=1)
                                {
                                    var temID = "";
                                    //批量获取选中行的评估模板ID
                                    for (i = 0; i < data.length; i++) {
                                        if (temID == "") {
                                            temID = data[i].fileId;
                                        }
                                        else {
                                            temID = data[i].fileId+ "," + temID;
                                        }
                                    }

                                    var id= checkStatus.data[0].fileId;
                                    layer.confirm('确定还原选中的文件吗？', function(index)
                                    {
                                        $.ajax(
                                            {
                                                url: "recycle_reduction",
                                                type: "post",
                                                dataType: "json",
                                                async: false,
                                                data: {
                                                    fileid:temID
                                                },
                                                success: function (map)
                                                {
                                                    var json = eval(map); //数组
                                                    //能够正常返回数据才为成功
                                                    //layer.alert('删除成功');
                                                    var state=map.data;
                                                    if (state)
                                                    {
                                                        layer.msg('还原成功');
                                                        table.reload('recycle_bin', {});
                                                    }
                                                    else
                                                    {
                                                        layer.msg('还原失败');
                                                    }
                                                },
                                                error: function () {
                                                    layer.alert("失败");
                                                }
                                            });
                                    });
                                }
                                break;

                      case 'shuaxin':
                          //layer.msg('刷新数据');
                          table.reload('recycle_bin', {});
                          break;

                        case 'del':
                            if(data.length==0)
                            {
                                layer.msg('请选择要删除的行');
                            }
                            else if(data.length>=1)
                            {
                                var temID = "";
                                //批量获取选中行的评估模板ID
                                for (i = 0; i < data.length; i++) {
                                    if (temID == "") {
                                        temID = data[i].fileId;
                                    }
                                    else {
                                        temID = data[i].fileId+ "," + temID;
                                    }
                                }

                                var id= checkStatus.data[0].fileId;
                                layer.confirm('确定永久删除选中的行吗？', function(index)
                                {
                                    $.ajax
                                    (
                                        {
                                            url: "recycle_del",
                                            type: "post",
                                            dataType: "json",
                                            async: false,
                                            data: {
                                                fileid:temID
                                            },
                                            success: function (map)
                                            {
                                                var json = eval(map); //数组
                                                //能够正常返回数据才为成功
                                                //layer.alert('删除成功');
                                                var state=map.data;
                                                if (state)
                                                {
                                                    layer.msg('删除成功');
                                                    table.reload('recycle_bin', {});
                                                }
                                                else
                                                {
                                                    layer.msg('删除失败');
                                                }
                                            },
                                            error: function () {
                                                layer.alert("错误");
                                            }
                                        });
                                });
                            }
                            break;
                        case'delAll':
                            layer.confirm('确定清空回收站吗？', function()
                            {
                                $.ajax(
                                    {
                                        url: "recycle_delAll",
                                        type: "post",
                                        dataType: "json",
                                        async: false,
                                        data: {
                                            //fileid:temID
                                        },
                                        success: function (map)
                                        {
                                            var json = eval(map); //数组
                                            var state=map.data;
                                            if (state)
                                            {
                                                layer.msg('清除成功');
                                                table.reload('recycle_bin', {});
                                            }
                                            else
                                            {
                                                layer.msg('清除失败');
                                            }
                                        },
                                        error: function () {
                                            layer.alert("错误");
                                        }
                                    });
                            });
                            break;
                        case 'shezhi':
                            layer.msg('选择保存天数');
                           // table.reload('image_li', {});
                            break;
                  };
    });



        //监听行工具事件
        table.on('tool(test)', function(obj)
        { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event,//获得 lay-event 对应的值
                 temID=data.fileId;

            if(layEvent === 'reduction1')
            {
                layer.confirm('真的还原该行么', function (index) {

                    $.ajax(
                    {
                        url: "recycle_reduction",
                        type: "post",
                        dataType: "json",
                        async: false,
                        data: {
                            fileid:temID
                        },
                        success: function (map)
                        {
                            var json = eval(map); //数组
                            //能够正常返回数据才为成功
                            //layer.alert('删除成功');
                            var state=map.data;
                            if (state)
                            {
                                layer.msg('还原成功');
                                table.reload('recycle_bin', {});
                            }
                            else
                            {
                                layer.msg('还原失败');
                            }
                        },
                        error: function () {
                            layer.alert("失败");
                        }
                    });

                });
            }

            else if(layEvent === 'del1')
            {
                layer.confirm('真的永久删除该行么', function (index) {

                    $.ajax(
                        {
                            url: "recycle_del",
                            type: "post",
                            dataType: "json",
                            async: false,
                            data: {
                                fileid: temID
                            },
                            success: function (map) {
                                var json = eval(map); //数组
                                //能够正常返回数据才为成功
                                //layer.alert('删除成功');
                                var state = map.data;
                                if (state) {
                                    layer.msg('删除成功');
                                    table.reload('recycle_bin', {});
                                }
                                else {
                                    layer.msg('删除失败');
                                }
                            },
                            error: function () {
                                layer.alert("错误");
                            }
                        });

                });


            }

        });
    });
</script>
</body>
</html>
