<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zTree</title>

    <link rel="stylesheet" href="../static/layui/zTree/demo.css">
    <link rel="stylesheet" href="../static/layui/zTree/zTreeStyle/zTreeStyle.css">
    <script type="text/javascript" src="../static/layui/zTree/jquery-1.4.4.min.js"></script>

    <script type="text/javascript" src="../static/layui/zTree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../static/layui/zTree/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="../static/layui/zTree/jquery.ztree.exedit.js"></script>
    <script type="text/javascript" src="../static/layui/zTree/jquery.ztree.exhide.js"></script>

    <SCRIPT LANGUAGE="JavaScript">

        //设置ztree标题的颜色

       // var zTreeObj;
        var setting = {
            view: {
                showLine: true,
                selectedMulti: false//是否允许同时选中多个结点
            },
            async: {
                enable: true,
                url:"../asyncData/getNodes.php",
                autoParam:["id", "name=n", "level=lv"],
                otherParam:{"otherParam":"zTreeAsyncTest"},
                dataFilter: filter
            },

            data: {
                simpleData: {
                    enable: true,
                    idKey: "fileId",
                    pIdKey: "parentId",
                    rootPId: 0
                }
            }
           /** ,
            callback: {
                beforeClick: beforeClick,//捕获单击节点之前的事件回调函数，并且根据返回值确定是否允许单击操作
                beforeAsync: beforeAsync,//捕获异步加载之前的事件回调函数，zTree 根据返回值确定是否允许进行异步加载
                onAsyncError: onAsyncError,//捕获异步加载出现异常错误的事件回调函数
                onAsyncSuccess: onAsyncSuccess//  捕获异步加载正常结束的事件回调函数
            }*/

        };


/**
        var zNodes =[
            { fileId:1, parentId:0, name:"父节点1 - 展开", open:true},
            { fileId:11, parentId:1, name:"父节点11 - 折叠"},
            { fileId:111, parentId:11, name:"叶子节点111",url:"http://www.treejs.cn/", target:"_blank"},
            { fileId:112, parentId:11, name:"叶子节点112"},
            { fileId:113, parentId:11, name:"叶子节点113"},
            { fileId:114, parentId:11, name:"叶子节点114"},
            { fileId:12, parentId:1, name:"父节点12 - 折叠"},
            { fileId:121, parentId:12, name:"叶子节点121"},
            { fileId:122, parentId:12, name:"叶子节点122"},
            { fileId:123, parentId:12, name:"叶子节点123"},
            { fileId:124, parentId:12, name:"叶子节点124"},
            { fileId:13, parentId:1, name:"父节点13 - 没有子节点", isParent:true},
            { fileId:2, parentId:0, name:"父节点2 - 折叠"},
            { fileId:21, parentId:2, name:"父节点21 - 展开", open:true},
            { fileId:211, parentId:21, name:"叶子节点211"},
            { fileId:212, parentId:21, name:"叶子节点212"},
            { fileId:213, parentId:21, name:"叶子节点213"},
            { fileId:214, parentId:21, name:"叶子节点214"},
            { fileId:22, parentId:2, name:"父节点22 - 折叠"},
            { fileId:221, parentId:22, name:"叶子节点221"},
            { fileId:222, parentId:22, name:"叶子节点222"},
            { fileId:223, parentId:22, name:"叶子节点223"},
            { fileId:224, parentId:22, name:"叶子节点224"},
            { fileId:23, parentId:2, name:"父节点23 - 折叠"},
            { fileId:231, parentId:23, name:"叶子节点231"},
            { fileId:232,parentId:23, name:"叶子节点232"},
            { fileId:233, parentId:23, name:"叶子节点233"},
            { fileId:234, parentId:23, name:"叶子节点234"},
            { fileId:3, parentId:0, name:"父节点3 - 没有子节点", isParent:true}
        ];*/

        function filter(treeId, parentNode, childNodes) {
            if (!childNodes) return null;
            for (var i=0, l=childNodes.length; i<l; i++) {
                childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
            }
            return childNodes;
        }


        $(document).ready(function(){
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        });


        /*
       //启动树节点
        $(function($){

            $.fn.zTree.init($("#treeDemo"), setting);
        });


        function zTreeOnAsyncSuccess(){
            //alert('加载树成功');
            var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
            console.log(treeObj);
            treeObj.expandAll(true);
        }


        //树节点的点击事件
        function zTreeBeforeClick(treeId, treeNode, clickFlag) {
            //alert("treeNode.id--->"+treeNode.id);
            //alert("treeNode.url--->"+treeNode.url);
            //alert("treeNode.name--->"+treeNode.title);
            return (treeNode.fileId !== 1);//禁止结点被选中！！
        };
*/

    </SCRIPT>
</head>
<body>

<div>
    <ul id="treeDemo" class="ztree"></ul>
</div>
</body>
</html>